
@{
    ViewBag.Title = "Forget Password";
}
<title>@ViewBag.Title - SuperManager Chat bot</title>
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/Scripts/jquery-3.1.0.js")
@Scripts.Render("~/Scripts/bootstrap.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Style all input fields */
        input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
        }

            /* Style the submit button */
            input[type=button] {
                background-color: #04AA6D;
                color: white;
            }

        /* Style the container for inputs */
        .container {
            background-color: #f1f1f1;
            padding: 20px;
        }

        /* The message box is shown when the user clicks on the password field */
        #message {
            background: #f1f1f1;
            color: #000;
            position: relative;
            padding: 20px;
            margin-top: 10px;
        }

            #message p {
                padding: 10px 35px;
                font-size: 18px;
            }

        /* Add a green text color and a checkmark when the requirements are right */
        .valid {
            color: green;
        }

            .valid:before {
                position: relative;
                left: -35px;
                content: "✔";
            }

        /* Add a red text color and an "x" when the requirements are wrong */
        .invalid {
            color: red;
        }

            .invalid:before {
                position: relative;
                left: -35px;
                content: "✖";
            }
    </style>
</head>
<body>
    <div style="margin-top:10% !important;">
        <div class="container">
            <h3 style="text-align:center">Forget Password</h3>
            <div class="card-body">
                <div class="form-group"> <label for="email">Enter your email address</label> <input class="form-control" type="text" id="email" required=""><small class="form-text text-muted">Enter the email address you used during the registration</small> </div>
            </div>
            <input type="button" onclick="ForgetPassword()" value="Get New Password">
        </div>
    </div>
    <script>
        function ForgetPassword() {
            var Email = $("#email").val();
            $.ajax({
                type: "POST",
                url: "/Account/ForgetPassword",
                data: JSON.stringify({ Email: Email }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: onSuccess,
                error: OnErrorCall
            });
            function onSuccess(response) {
                alert(JSON.parse(response.responseText));
                window.location = "Login";
            };
            function OnErrorCall(err) {
                alert(err);
            };
        }
    </script>

</body>
</html>

